In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dpt_exp_names = ['NYU_norm_dpt', 'NYU_orig_dpt']
unsup_exp_names = ['NYU_norm_unsup', 'NYU_orig_unsup']

In [3]:
df_dpt = []
for exp_name in dpt_exp_names:
    save_path = f'/mnt/cfs/sihaozhe/ss-dfd/exp/{exp_name}/result/eval.csv'
    df_exp = pd.read_csv(save_path, index_col=0)
    df_dpt.append(df_exp)
df_dpt = pd.concat(df_dpt)

In [15]:
df_dpt.groupby('Setting').mean()

,AbsRel,SqRel,RMSE,RMSE_log,delta1,delta2,delta3
Setting,,,,,,,
NYU_norm_dpt,0.079140,0.011488,0.064370,0.055775,0.950065,0.987548,0.993440
NYU_orig_dpt,0.066143,0.139652,0.205569,0.040399,0.982922,0.993739,0.995573

In [4]:
df_unsup = []
for exp_name in unsup_exp_names:
    save_path = f'/mnt/cfs/sihaozhe/ss-dfd/exp/{exp_name}/result/eval.csv'
    df_exp = pd.read_csv(save_path, index_col=0)
    df_unsup.append(df_exp)
df_unsup = pd.concat(df_unsup)

In [5]:
df_unsup.groupby('Setting').mean()

,AbsRel,SqRel,RMSE,RMSE_log,delta1,delta2,delta3,MG,SF
Setting,,,,,,,,,
NYU_norm_unsup,0.119854,0.024062,0.060973,0.087820,0.932596,0.955982,0.965904,0.038577,0.133657
NYU_orig_unsup,0.151801,0.399410,0.257541,0.061369,0.968904,0.987639,0.990271,0.039082,0.135251

In [5]:
dpt_render_names = ['Render_transfer_unsup']

In [6]:
df_dpt = []
for exp_name in dpt_render_names:
    save_path = f'/mnt/cfs/sihaozhe/ss-dfd/exp/{exp_name}/result/eval.csv'
    df_exp = pd.read_csv(save_path, index_col=0)
    df_dpt.append(df_exp)
df_dpt = pd.concat(df_dpt)

In [7]:
df_dpt.groupby('Setting').mean()

,AbsRel,SqRel,RMSE,RMSE_log,delta1,delta2,delta3,MG,SF
Setting,,,,,,,,,
Render_transfer_unsup,0.33421,0.735053,1.795271,0.23481,0.589601,0.767819,0.86173,0.026002,0.093194

In [2]:
NYU_100_names = ['NYU_100_unsup_v2', 'NYU_100_unsup_full', 'NYU_100_max_fuse', 'NYU_100_max_fuse_full']

In [3]:
df_dpt = []
for exp_name in NYU_100_names:
    save_path = f'/mnt/cfs/sihaozhe/ss-dfd/exp/{exp_name}/result/eval.csv'
    df_exp = pd.read_csv(save_path, index_col=0)
    df_dpt.append(df_exp)
df_dpt = pd.concat(df_dpt)

In [4]:
df_dpt.groupby('Setting').mean()

,AbsRel,SqRel,RMSE,RMSE_log,delta1,delta2,delta3,MG,SF
Setting,,,,,,,,,
NYU_100_max_fuse,0.329411,0.849928,0.514949,0.124171,0.864398,0.920765,0.937761,0.036398,0.128087
NYU_100_max_fuse_full,0.218164,0.769841,0.312613,0.073910,0.966952,0.982590,0.984691,0.038579,0.134795
NYU_100_unsup_full,0.218496,0.796362,0.306283,0.071558,0.969953,0.984768,0.986430,0.038538,0.134824
NYU_100_unsup_v2,0.351928,1.008576,0.527024,0.125769,0.874170,0.919180,0.932949,0.036350,0.128129

In [4]:
df_dpt = []
for exp_name in ['DSLR_finetune_full']:
    save_path = f'/mnt/cfs/sihaozhe/ss-dfd/exp/{exp_name}/result/eval.csv'
    df_exp = pd.read_csv(save_path, index_col=0)
    df_dpt.append(df_exp)
df_dpt = pd.concat(df_dpt)

In [5]:
df_dpt.groupby('Setting').mean()

,AbsRel,SqRel,RMSE,RMSE_log,delta1,delta2,delta3,MG,SF
Setting,,,,,,,,,
DSLR_finetune_full,28.025599,86.108151,2.878523,1.445173,0.003309,0.003497,0.003677,0.035339,0.104575

In [28]:
DSLR_one_shot = [f'DSLR_finetune_one_shot_{idx}' for idx in range(81)]

In [29]:
df_dpt = []
for exp_name in DSLR_one_shot:
    save_path = f'/mnt/cfs/sihaozhe/ss-dfd/exp/{exp_name}/result/eval.csv'
    try:
        df_exp = pd.read_csv(save_path, index_col=0)
    except:
        continue
    df_dpt.append(df_exp)
df_dpt = pd.concat(df_dpt)

In [31]:
df_dpt.groupby('Setting').mean().reset_index().mean(numeric_only=True)

AbsRel      0.277048
SqRel       0.365470
RMSE        0.866267
RMSE_log    0.143384
delta1      0.566227
delta2      0.875586
delta3      0.956868
MG          0.035296
SF          0.102814
dtype: float64

In [6]:
fs_train = ['NYU_100_max_fuse', 'NYU_100_F3', 'NYU_100_F7']

In [7]:
df_dpt = []
for exp_name in fs_train:
    save_path = f'/mnt/cfs/sihaozhe/ss-dfd/exp/{exp_name}/result/eval.csv'
    try:
        df_exp = pd.read_csv(save_path, index_col=0)
    except:
        continue
    df_dpt.append(df_exp)
df_dpt = pd.concat(df_dpt)

In [8]:
df_dpt.groupby('Setting').mean()

,AbsRel,SqRel,RMSE,RMSE_log,delta1,delta2,delta3,MG,SF
Setting,,,,,,,,,
NYU_100_F3,0.467659,1.168699,0.770282,0.178613,0.728624,0.853768,0.899944,0.034033,0.121637
NYU_100_F7,0.296414,0.815673,0.450229,0.111447,0.892369,0.943497,0.956798,0.037061,0.129550
NYU_100_max_fuse,0.329411,0.849928,0.514949,0.124171,0.864398,0.920765,0.937761,0.036398,0.128087

In [2]:
fs_train = ['NYU_100_max_fuse', 'NYU_100_no_caif_blur_real', 'NYU_100_no_recon_v2']

In [3]:
df_dpt = []
for exp_name in fs_train:
    save_path = f'/mnt/cfs/sihaozhe/ss-dfd/exp/{exp_name}/result/eval.csv'
    try:
        df_exp = pd.read_csv(save_path, index_col=0)
    except:
        continue
    df_dpt.append(df_exp)
df_dpt = pd.concat(df_dpt)

In [4]:
df_dpt.groupby('Setting').mean()

,AbsRel,SqRel,RMSE,RMSE_log,delta1,delta2,delta3,MG,SF
Setting,,,,,,,,,
NYU_100_max_fuse,0.329411,0.849928,0.514949,0.124171,0.864398,0.920765,0.937761,0.036398,0.128087
NYU_100_no_caif_blur_real,0.339817,0.823513,0.533409,0.126691,0.831658,0.918038,0.944437,0.035435,0.125323
NYU_100_no_recon_v2,0.950256,2.417353,2.685363,1.383445,0.001710,0.002454,0.002859,0.005151,0.085391

In [2]:
loss_abl = ['NYU_100_FS5','NYU_100_FS5_no_sm', 'NYU_100_FS5_no_caif_blur', 'NYU_100_FS5_no_sharp', 'NYU_100_FS5_no_aif_recon']

In [3]:
df_dpt = []
for exp_name in loss_abl:
    save_path = f'/mnt/cfs/sihaozhe/ss-dfd/exp/{exp_name}/result/eval.csv'
    try:
        df_exp = pd.read_csv(save_path, index_col=0)
    except:
        continue
    df_dpt.append(df_exp)
df_dpt = pd.concat(df_dpt)

In [4]:
df_dpt.groupby('Setting').mean()

,AbsRel,SqRel,RMSE,RMSE_log,delta1,delta2,delta3,MG,SF
Setting,,,,,,,,,
NYU_100_FS5,0.326455,0.894509,0.497780,0.120465,0.877843,0.927000,0.940700,0.036606,0.128892
NYU_100_FS5_no_aif_recon,0.309681,0.875630,0.467500,0.114715,0.889830,0.931991,0.946411,0.037445,0.134140
NYU_100_FS5_no_caif_blur,0.328361,0.902512,0.500052,0.121220,0.878926,0.926297,0.939826,0.036517,0.128494
NYU_100_FS5_no_sharp,0.322436,0.863838,0.494766,0.119732,0.877642,0.927462,0.941460,0.036532,0.128501
NYU_100_FS5_no_sm,0.369793,1.065577,0.713824,0.145720,0.863823,0.908259,0.925251,0.036498,0.128227

In [6]:
cam_abl = ['NYU_100_FS5', 'NYU_100_FS5_CAM']

In [7]:
df_dpt = []
for exp_name in cam_abl:
    save_path = f'/mnt/cfs/sihaozhe/ss-dfd/exp/{exp_name}/result/eval.csv'
    try:
        df_exp = pd.read_csv(save_path, index_col=0)
    except:
        continue
    df_dpt.append(df_exp)
df_dpt = pd.concat(df_dpt)

In [8]:
df_dpt.groupby('Setting').mean()

,AbsRel,SqRel,RMSE,RMSE_log,delta1,delta2,delta3,MG,SF
Setting,,,,,,,,,
NYU_100_FS5,0.326455,0.894509,0.497780,0.120465,0.877843,0.927000,0.940700,0.036606,0.128892
NYU_100_FS5_CAM,0.484513,1.517470,0.775993,0.164876,0.806891,0.862053,0.891999,0.033603,0.122421